.d4d2680dab2a392420fbb-diagram-icon {
  position: absolute;
  bottom: -16px;
  left: 725px;
  width: 595px;
  height: 313.4px;
  object-fit: cover;
  opacity: 0.6;
  mix-blend-mode: luminosity;
}
.divfooter-year {
  position: absolute;
  top: calc(50% - 5px);
  left: 320px;
  width: 3.9px;
  height: 25px;
  opacity: 0.8;
}
.divfooter-bottom,
.nerve {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 40px;
}
.nerve {
  height: 33.87%;
  width: 57.42%;
  top: 32.26%;
  left: 42.66%;
  letter-spacing: 0.39px;
  line-height: 169.34px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.image-2-removebg-preview-1-icon {
  position: absolute;
  height: 100%;
  width: 48.87%;
  top: 0;
  right: 51.13%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: difference;
}
.nerve-parent {
  position: absolute;
  height: 100%;
  width: 110.63%;
  top: 0;
  right: -5.31%;
  bottom: 0;
  left: -5.31%;
}
.link-6408c50680c7dae0a89901a {
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 182px);
  width: 128px;
  height: 62px;
}
.keep-a-good {
  position: absolute;
  top: 16px;
  left: 0;
  line-height: 33px;
}
.divfooter-taglinemargin {
  position: absolute;
  top: 62px;
  left: 0;
  width: 330px;
  height: 73px;
  font-size: var(--font-size-5xl);
  color: var(--color-silver);
  font-family: var(--font-caveat);
}
.vector-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.cd7b889404bb5613ba29-diagram-l1 {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cd7b889404bb5613ba29-diagram-l {
  position: absolute;
  top: calc(50% - 10px);
  left: 17px;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 186.41000366210938px;
}
.evaluate-mental-health {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.divprimary-button-text {
  position: absolute;
  top: calc(50% - 13px);
  left: 47px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 0.410003662109375px var(--padding-12xs)
    var(--padding-0);
}
.link,
.link1 {
  position: absolute;
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.link1 {
  top: -1.5px;
  left: 9px;
  width: 219px;
  height: 46px;
  overflow: hidden;
}
.link {
  top: 135px;
  left: 0;
  width: 1px;
  height: 45px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.divfooter-col,
.divfooter-colmargin {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 180px;
}
.divfooter-colmargin {
  width: 476px;
}
.divfooter,
.divfooter-col-2margin,
.divfooter-flex {
  position: absolute;
  top: 0;
  left: 476px;
  width: 294px;
  height: 200px;
}
.divfooter,
.divfooter-flex {
  top: 164px;
  left: 0;
  width: 1200px;
}
.divfooter {
  top: 320px;
  left: 120px;
  height: 364px;
}
.divnav-float-indicator,
.section {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.section {
  top: 78px;
  height: 700px;
  overflow: hidden;
}
.divnav-float-indicator {
  top: 1136px;
  height: 777px;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 83.33%;
  width: 20%;
  top: 8.33%;
  right: 80%;
  bottom: 8.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon2 {
  height: 73.75%;
  width: 68.7%;
  top: 23.75%;
  right: 1.8%;
  bottom: 2.5%;
  left: 29.5%;
}
.nerve1 {
  position: absolute;
  height: 33.87%;
  width: 57.38%;
  top: 32.26%;
  left: 42.62%;
  letter-spacing: 0.39px;
  line-height: 169.34px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.image-2-removebg-preview-1-icon1 {
  position: absolute;
  height: 100%;
  width: 48.8%;
  top: 0;
  right: 51.2%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: difference;
}
.nerve-group {
  position: absolute;
  height: 258.33%;
  width: 171.3%;
  top: -66.67%;
  right: -39.3%;
  bottom: -91.67%;
  left: -32%;
}
.c50680c7dae0a89901a1-logosvg1 {
  position: relative;
  width: 100px;
  height: 24px;
}
.c50680c7dae0a89901a1-logosvg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100px;
}
.link2,
.link3 {
  box-sizing: border-box;
}
.link2 {
  position: absolute;
  height: calc(100% - 16px);
  top: 8px;
  bottom: 8px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-0);
  max-width: 1440px;
  cursor: pointer;
}
.link3 {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  width: 219px;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 600px;
}
.divnav-buttons {
  position: absolute;
  top: calc(50% - 32px);
  left: 1186.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-0);
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.divgradient-wrapper,
.divnav {
  position: absolute;
  top: 0;
  width: 1440px;
}
.divnav {
  left: calc(50% - 720px);
  height: 72px;
}
.divgradient-wrapper {
  left: 0;
  background: linear-gradient(169.98deg, #1e1e20, #0e0e11 32%);
  height: 1906px;
  text-align: left;
}
.result1 {
  position: absolute;
  top: 184px;
  left: 687.1px;
  font-size: var(--font-size-13xl);
  line-height: 33px;
  font-family: var(--font-caveat);
  color: var(--color-silver);
}
.you-are-facing {
  margin: 0;
  background: linear-gradient(107.41deg, #fff 65%, rgba(255, 255, 255, 0.43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mild {
  text-decoration: underline;
  color: var(--color-lightcoral);
}
.mental-stress {
  background: linear-gradient(107.41deg, #fff 65%, rgba(255, 255, 255, 0.43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mild-mental-stress {
  margin: 0;
}
.you-are-facing-container {
  position: absolute;
  top: 249px;
  left: calc(50% - 348.4px);
  font-size: var(--font-size-56xl);
  letter-spacing: -0.2px;
  line-height: 86.4px;
  font-family: var(--font-inter);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
}
.frame-95290-2 {
  position: absolute;
  height: 20.9%;
  width: 19.32%;
  top: 26.14%;
  right: 40.88%;
  bottom: 52.96%;
  left: 39.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.result {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1913px;
  text-align: center;
  font-size: 25.48px;
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
