.vector-icon47,
.vector-icon48 {
  position: absolute;
  height: 83.33%;
  width: 20%;
  top: 8.33%;
  right: 80%;
  bottom: 8.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.vector-icon48 {
  height: 73.75%;
  width: 68.7%;
  top: 23.75%;
  right: 1.8%;
  bottom: 2.5%;
  left: 29.5%;
}
.nerve8 {
  position: absolute;
  height: 33.87%;
  width: 57.38%;
  top: 32.26%;
  left: 42.62%;
  letter-spacing: 0.39px;
  line-height: 169.34px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.image-2-removebg-preview-1-icon9 {
  position: absolute;
  height: 100%;
  width: 48.8%;
  top: 0;
  right: 51.2%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: difference;
}
.nerve-parent6 {
  position: absolute;
  top: -16px;
  left: -32px;
  width: 171.3px;
  height: 62px;
}
.c50680c7dae0a89901a1-logosvg7 {
  position: relative;
  width: 100px;
  height: 24px;
}
.c50680c7dae0a89901a1-logosvg6,
.link19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100px;
}
.link19 {
  position: absolute;
  height: calc(100% - 16px);
  top: 8px;
  bottom: 8px;
  left: 40px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-base) var(--padding-0);
  box-sizing: border-box;
  max-width: 1440px;
}
.vector-icon49 {
  position: relative;
  width: 20px;
  height: 20px;
}
.cd7b889404bb5613ba29-diagram-l21 {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cd7b889404bb5613ba29-diagram-l20 {
  position: absolute;
  top: calc(50% - 10px);
  left: 17px;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 186.41000366210938px;
}
.evaluate-mental-health9 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.divprimary-button-text10 {
  position: absolute;
  top: calc(50% - 13px);
  left: 47px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 0.410003662109375px var(--padding-12xs)
    var(--padding-0);
}
.link20 {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 219px;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 600px;
}
.divnav-buttons3 {
  position: absolute;
  top: calc(50% - 32px);
  left: 1186.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-0);
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.divnav2 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 72px;
}
.section-4-icon {
  position: relative;
  width: 1439.6px;
  height: 846.5px;
  opacity: 0.6;
}
.stars1 {
  position: absolute;
  top: 29.8px;
  left: calc(50% - 719.4px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divgalaxy-background1,
.frame5 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.divgalaxy-background1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-image: url(./public/divgalaxybackground1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame5 {
  width: 1440px;
  height: 1276.2px;
}
.d4d2680dab2a392420fbb-diagram-icon4 {
  position: absolute;
  margin: 0 !important;
  bottom: -15px;
  left: 725px;
  width: 595px;
  height: 312.4px;
  object-fit: cover;
  opacity: 0.6;
  mix-blend-mode: luminosity;
  max-width: 1200px;
  z-index: 0;
}
.divfooter-year4 {
  position: absolute;
  top: calc(50% - 5px);
  left: 320px;
  opacity: 0.8;
}
.divfooter-bottom4 {
  position: relative;
  width: 1200px;
  height: 40px;
  z-index: 1;
}
.nerve9 {
  position: absolute;
  height: 33.87%;
  width: 57.42%;
  top: 32.26%;
  left: 42.66%;
  letter-spacing: 0.39px;
  line-height: 169.34px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.image-2-removebg-preview-1-icon10 {
  position: absolute;
  height: 100%;
  width: 48.87%;
  top: 0;
  right: 51.13%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: difference;
}
.nerve-parent7 {
  position: relative;
  width: 141.6px;
  height: 62px;
}
.link-6408c50680c7dae0a89901a4 {
  width: 128px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.keep-a-good5 {
  position: relative;
  line-height: 33px;
}
.divfooter-taglinemargin4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-0) var(--padding-5xl);
  font-size: var(--font-size-5xl);
  color: var(--color-silver);
  font-family: var(--font-caveat);
}
.link22 {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 219px;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
}
.divfooter-col4,
.divfooter-colmargin4,
.link21 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.link21 {
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  width: 1px;
  height: 45px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-7xs) var(--padding-11xs) var(--padding-5xs)
    var(--padding-4xs);
  max-width: 240px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.divfooter-col4,
.divfooter-colmargin4 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-15xl) var(--padding-0)
    var(--padding-0);
  min-width: 240px;
}
.divfooter-colmargin4 {
  padding: var(--padding-0) var(--padding-93xl) var(--padding-0)
    var(--padding-0);
  min-width: 352px;
}
.divfooter-col-2margin4 {
  width: 294px;
}
.divfooter-flex4,
.divfooter4 {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divfooter-flex4 {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-19xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  z-index: 2;
}
.divfooter4 {
  flex-direction: column;
  position: relative;
  gap: 124px;
  max-width: 1200px;
}
.divnav-float-indicator2,
.section4 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.section4 {
  top: 78px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 320px 120px var(--padding-base);
  box-sizing: border-box;
}
.divnav-float-indicator2 {
  top: 952px;
  height: 777px;
}
.pdisplay-paragraph,
.pdisplay-paragraphmargin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) 3.8599853515625px var(--padding-0) 5px;
}
.pdisplay-paragraphmargin {
  padding: var(--padding-0) var(--padding-0) 32px;
}
.you-are-facing1 {
  margin: 0;
  background: linear-gradient(107.41deg, #fff 65%, rgba(255, 255, 255, 0.43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mild1 {
  text-decoration: underline;
  color: var(--color-lightcoral);
}
.mental-stress1 {
  background: linear-gradient(107.41deg, #fff 65%, rgba(255, 255, 255, 0.43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mild-mental-stress1 {
  margin: 0;
}
.you-are-facing-container1 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 86.4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
}
.heading-1,
.heading-1margin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) 13.890000343322754px var(--padding-0)
    13.109999656677246px;
}
.heading-1margin {
  padding: var(--padding-0) var(--padding-0) 23.779998779296875px;
  font-size: var(--font-size-56xl);
  font-family: var(--font-inter);
}
.divintro-block-child,
.divintro-block-item {
  position: relative;
  width: 97px;
  height: 37px;
}
.divintro-block-item {
  height: 117px;
}
.divintro-block1,
.divsection-hero {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divsection-hero {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 1280px;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-0) 420px 939.219970703125px;
  box-sizing: border-box;
  min-height: 1280px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-silver);
  font-family: var(--font-caveat);
}
.frame6 {
  position: absolute;
  top: 184px;
  left: 0;
  width: 1440px;
  height: 1729px;
  overflow: hidden;
}
.divgradient-wrapper2 {
  position: relative;
  background: linear-gradient(169.98deg, #1e1e20, #0e0e11 32%);
  width: 1440px;
  height: 1906px;
}
.result-page {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1913px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 810px;
  text-align: left;
  font-size: 25.48px;
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
